<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>loginServelet</servlet-name>
  	<display-name>loginServelet</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.loginServelet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>signupServelet</servlet-name>
  	<display-name>signupServelet</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.signupServelet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createAccount</servlet-name>
  	<display-name>createAccount</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.createAccount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createAccounts</servlet-name>
  	<display-name>createAccounts</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.createAccounts</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeServelet</servlet-name>
  	<display-name>HomeServelet</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.HomeServelet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>withdrawAmtServelet</servlet-name>
  	<display-name>withdrawAmtServelet</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.withdrawAmtServelet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteServelet</servlet-name>
  	<display-name>deleteServelet</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.deleteServelet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateServelet</servlet-name>
  	<display-name>updateServelet</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.updateServelet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatePinServelet</servlet-name>
  	<display-name>updatePinServelet</display-name>
  	<description></description>
  	<servlet-class>com.grayMatter.updatePinServelet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>signupServelet</servlet-name>
  	<url-pattern>/signupServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServelet</servlet-name>
  	<url-pattern>/loginServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>createAccount</servlet-name>
  	<url-pattern>/createAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>createAccounts</servlet-name>
  	<url-pattern>/createAccounts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeServelet</servlet-name>
  	<url-pattern>/HomeServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>withdrawAmtServelet</servlet-name>
  	<url-pattern>/withdrawAmtServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteServelet</servlet-name>
  	<url-pattern>/deleteServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateServelet</servlet-name>
  	<url-pattern>/updateServelet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatePinServelet</servlet-name>
  	<url-pattern>/updatePinServelet</url-pattern>
  </servlet-mapping>
</web-app>
